<server>
	<config public=true host_name="Learning" max_slots=32 port=28900 rcon_pass="SomePassword" />
	<master host="master.gothic-online.com.pl" port=7777 />
	<version build=0 />
	<world name="NEWWORLD\\NEWWORLD.ZEN" />
	<description>
	<![CDATA[
		<center>
			<b><font color=green>Learning Server</font></b><br>
		</center>
	]]>
	</description>
	
	<!-- Module [Learning] -->
	<module src="SQLite.x86.dll" type="server" />
	
	<!-- Default -->
	<import src="default/scripts.xml" />
	
	<!-- Gamemode -->
	<import src="gamemodes/prototype/scripts.xml" />
	
	<!-- Learning -->
	<import src="gui-framework/gui.xml" />
	<import src="custom/scripts.xml" />
	
	<!-- Ids -->
	<items src="items.xml" />
	<mds src="mds.xml" />
	
	<wayfile map="NEWWORLD" src="waypoints/newworld.xml" />
	<wayfile map="OLDWORLD" src="waypoints/oldworld.xml" />
	<wayfile map="ADDONWORLD" src="waypoints/addonworld.xml" />

	<modification enabled=true />
</server>
